	<h1><%= @museum.name %></h1>
<ul>
	<% if @museum.phone %>
		<li>phone number: <%= @museum.phone %></li> 
	<% end %>
	<% if @museum.address %>
	<li>address: <%= @museum.address %></li>
	<% end %>
	<% if @museum.webLink %>
	<li><%= link_to "website", "http://#{@museum.webLink}" %></li>
	<% end %>
	<% if @museum.typology %>
	<li>typology: <%= @museum.typology %></li>
	<% end %>
</ul>
<form name='make_reservation' action='<%= reservations_path %>' method='post'>
	date:
	<input type='text' value='' name='date'/>
	number of people:
	<input type='text' value='' name='num_of_pipl'/>
	<input type='hidden' value='<%= @museum.name %>' name='museum' />
	<input type='submit' value='make reservation'/>
</form>
